<launch>
    <!-- Arguments to set robot models and initial positions -->
    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]" />
    <arg name="x_pos_tom" default="0.0"/>
    <arg name="y_pos_tom" default="0.0"/>
    <arg name="z_pos_tom" default="0.0"/>
    <arg name="x_pos_jerry" default="2.0"/>
    <arg name="y_pos_jerry" default="0.0"/>
    <arg name="z_pos_jerry" default="0.0"/>
    <arg name="delay_start_tom" default="20.0" doc="Time delay before Tom starts chasing Jerry in seconds"/>

    <!-- Launch the Gazebo world with Jerry and Tom -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn Jerry in Gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_jerry" args="-urdf -model jerry -x $(arg x_pos_jerry) -y $(arg y_pos_jerry) -z $(arg z_pos_jerry) -param robot_description"/>

    <!-- Spawn Tom in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_tom" args="-urdf -model tom -x $(arg x_pos_tom) -y $(arg y_pos_tom) -z $(arg z_pos_tom) -param robot_description" />

    <!-- Launch Jerry's behavior (no chase behavior for Jerry yet, just add an appropriate behavior) -->
    <node pkg="tom_and_jerry" type="jerry_robot_real_turtlebot.py" name="jerry_behavior" output="screen"/>

    <!-- Launch Tom's behavior with delay directly in the tom_robot_real.py script -->
    <node pkg="tom_and_jerry" type="tom_robot_real.py" name="tom_behavior" args="$(arg delay_start_tom)" output="screen" />
</launch>
